/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

hr {
	margin: 25px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
}

input[type=submit] {
  margin-top: 10px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 12px;
}

input[type=submit]:hover {
  background-color: #286090;
  border-color: #204d74;
}

.border {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
}

#result {
  margin-top: 10px;
  font-size: 1.2em;
  color: #337ab7;
}

#jsonResult {
  margin-top: 10px;
  display: block;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  font-size: 0.9em;
}
